@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400&display=swap");
@-webkit-keyframes moveInRight {
  0% {
    -webkit-transform: translatex(-6.25rem);
            transform: translatex(-6.25rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translatex(1.875rem);
            transform: translatex(1.875rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    -webkit-transform: translatex(-6.25rem);
            transform: translatex(-6.25rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translatex(1.875rem);
            transform: translatex(1.875rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes moveInLeft {
  0% {
    -webkit-transform: translatex(6.25rem);
            transform: translatex(6.25rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-1.875rem);
            transform: translateX(-1.875rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInLeft {
  0% {
    -webkit-transform: translatex(6.25rem);
            transform: translatex(6.25rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-1.875rem);
            transform: translateX(-1.875rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

::-moz-selection {
  background-color: #28b485;
  color: white;
}

::selection {
  background-color: #28b485;
  color: white;
}

body {
  color: #777;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  padding: 1.875rem;
  font-family: "Lato", sans-serif;
}

.pri-heading {
  font-size: 2.188rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.pri-heading:hover, .pri-heading:focus, .pri-heading:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0.5px 10px 20px rgba(0, 0, 0, 0.2);
}

.sec-heading {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.para {
  font-size: 1rem;
  margin-bottom: 1.875rem;
}

.text-center {
  text-align: center;
}

.btn, .btn:link, .btn:visited {
  cursor: pointer;
  display: inline-block;
  padding: 0.625rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0px;
  border-radius: 6.25rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.btn-white {
  background-color: white;
  color: #777;
}
.btn-green {
  background-color: #28b485;
  color: white;
}
.btn::before {
  content: "";
  background-color: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6.25rem;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn:hover, .btn:focus {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 0.625rem 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.625rem 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::before, .btn:focus::before {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}
.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-text, .btn-text:visited, .btn-text:link {
  font-size: 1rem;
  color: #55c57a;
  display: inline-block;
  border-bottom: 1px solid;
  text-decoration: none;
  padding: 5px;
  text-transform: capitalize;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-text span {
  display: inline-block;
}
.btn-text:hover, .btn-text:focus {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #55c57a;
  color: white;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-text:hover span, .btn-text:focus span {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}
.btn-text:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.composition {
  position: relative;
}
.composition-img {
  width: 55%;
  position: absolute;
  border-radius: 3px;
  -webkit-box-shadow: 0 1rem 3.2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 3.2rem rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  outline-offset: 1rem;
}
.composition-img:nth-child(1) {
  left: 0;
  top: -1.25rem;
}
.composition-img:nth-child(2) {
  top: 1.25rem;
  right: 0;
}
.composition-img:nth-child(3) {
  top: 6.25rem;
  left: 20%;
}
.composition-img:hover, .composition-img:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.5);
  z-index: 10;
  outline: 1rem solid #55c57a;
}
.composition:hover .composition-img:not(:hover) {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container {
  max-width: 71.25rem;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.row:not(:last-child) {
  margin-bottom: 5rem;
}

[class^=col-] {
  padding: 0 15px;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.header {
  height: 95vh;
  background-image: linear-gradient(135deg, rgba(126, 213, 111, 0.75), rgba(40, 180, 133, 0.75)), url("./images/hero.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo {
  width: 120px;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}
.header .logo img {
  width: 100%;
}
.header-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 3.125rem;
}
.header-primary-main {
  font-size: 3.75rem;
  letter-spacing: 2.188rem;
  font-weight: 400;
  -webkit-animation: moveInRight 1s ease-in-out;
          animation: moveInRight 1s ease-in-out;
}
.header-primary-sub {
  font-size: 1.25rem;
  letter-spacing: 1.063rem;
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
}

.section-about {
  background-color: #f7f7f7;
  padding: 15.625rem 0;
  margin-top: -12.5rem;
}
/*# sourceMappingURL=style.css.map */